/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* Estilo da barra de navegação */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  background-color: #e9e89e;
  color: rgb(14, 13, 13);
}

/* Logo à esquerda */
.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Lista de links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 24px; /* espaçamento entre links */
}

.nav-links a {
  text-decoration: none;
  color: rgb(8, 8, 8);
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #fdfdfd;
}

/* Responsivo */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links {
    flex-direction: column;
    gap: 12px;
    margin-top: 8px;
  }
}
